//- Include used template for this page
extends ../../templates/default

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - let title       = 'Write title of page here'
    - let description = 'Write description for the page here'
    - let keywords    = 'Write keywords for the page here'
    - let pageClass   = 'page-index'

block content
   //- include path_to_including_file 